<div class="cardContainer cardContainerAdd">
    <div class="containerAdd">


        <mat-card class="tableCard">
            <form>
                <div class="inputs">
                    <h1>Crear centro de costo</h1>

                    <mat-form-field>
                        <mat-label>Ingresar el código</mat-label>
                        <input name="codigo" matInput [(ngModel)]="element.Codigo" placeholder="Codigo"
                            value="{{element.Codigo}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Ingresar el nombre del centro de costos</mat-label>
                        <input name="nombreCentroCostos" matInput [(ngModel)]="element.NombreCentroCostos"
                            placeholder="Nombre Centro Costos" value="{{element.NombreCentroCostos}}">
                    </mat-form-field>

                    <button mat-raised-button focusable="false" (click)="crearNuevoCC()">
                        <mat-icon fontIcon="edit">Agregar</mat-icon>
                        Agregar
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>